@font-face {
    font-family: 'cairo';
    src: url('../fonts/cairo/Cairo-Regular.ttf');
}

@font-face {
    font-family: 'exlight';
    src: url('../fonts/cairo/Cairo-ExtraLight.ttf');
}

@font-face {
    font-family: 'light';
    src: url('../fonts/cairo/Cairo-Light.ttf');
}

@font-face {
    font-family: 'semibold';
    src: url('../fonts/cairo/Cairo-SemiBold.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/cairo/Cairo-Bold.ttf');
}

@font-face {
    font-family: 'black';
    src: url('../fonts/cairo/Cairo-Black.ttf');
}